
.slogan{
    color:#fff;
}

span{
    color:#3498DB;
}
.home_text {
    color: #ffffff;
}
.i-am-centered { margin: auto; max-width: 300px;}

.bg-black {
    background-color: #111;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
}
