body {
    background-image: url("bg-2.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}

.slogan{
    color:#fff;
}

span{
    color:#3498DB;
}
.home_text {
    color: #ffffff;
}
.i-am-centered { margin: auto; max-width: 300px;}

.bg-black {
    background-color: #111;

}




.slider {

}

.slider {
    width:1350px;


}

.slider-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
}

.slide {
    position:absolute;
    float: left;
      width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}


#bandeh{

    margin-top: 200px;
    position :absolute;
    width: 800px;
    height: 200px;
    background-color: rgb(192,192,192);opacity:0.6;

}



div.slide-left {
    width:100%;
    overflow:hidden;
}
div.slide-left p {
    animation: slide-left 2s;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}





.item-1,
.item-2,
.item-3
{   color: #24748c;
    font-style: italic;
    position: absolute;
    display: block;
    font-size: 50px;
    top: 50px;
font-family: "Lucida Calligraphy";
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 8%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 8%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 8%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}
