<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       layout:decorator="template1" >
<head>
    <meta charset="UTF-8"/>
    <title>Accueil</title>
</head>
<body>
<h3>TEST</h3>
//
<div layout:fragment="content">
    <div class="col-md-6"> <!--  càd , la moitier -->

        <div class="panel panel-primary">A TEST
        <div class="panel-heading"> A TEST </div>
        <div class="panel-body">
            <label> Code Compte: </label>
        </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>