<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
       layout:decorator="template1" >
<head>



    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Accueil</title>
</head>
<body>

<h3>TEST</h3>
//

<div>
    <div class="col-md-6"> <!--  càd , la moitier -->

        <div class="panel panel-primary">A TEST
        <div class="panel-heading"> A TEST </div>
        <div class="panel-body">
            <label> Code Compte: </label>
        </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>