<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>
<header>
    <div class="bg-black">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a th:href="@{/admin}"> Formations</a></li>
                <li><a th:href="@{/adminFormateurs}"> Formateurs</a></li>
                <li><a th:href="@{/adminApprenants}"> Apprenants</a></li>
            </ul>
            <div id="logo" style="text-align: center;">
                <img src="../static/bebrighter.png" width="200" th:src="@{bebrighter.png}" alt="logo"/>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="heading">
                <h3><span>Espace administrateur</span></h3>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content">
   <!-- <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Ajouter une formation</div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label class="control-label">Nom de la formation:<span>*</span></label>
                        <input type="text"  class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Duree de la formation:<span>*</span></label>
                        <input type="text"  class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Discipline de la formation:<span>*</span></label>
                        <input type="text"  class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre des modules de la formation:<span>*</span></label>
                        <input type="text" class="form-control" required="required"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter une formation</button>
                </form>
            </div>
        </div>


    </div>-->
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Modifier/supprimer une formation</div>
            <div class="panel-body">
                <div class="panel-body">
                    <form th:action="@{/admin}" method="get">
                        <label>Mot clé: </label>
                        <input type="text" name="motCle" th:value="${motCle}">
                        <button type="submit" class="btn btn-primary">Chercher</button>
                    </form>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Code formation</th>
                            <th>Nom</th>
                            <th>Duree</th>
                            <th>Discipline</th>
                            <th>Nombre modules</th>
                        </tr>
                        <tr th:each="f:${listformations}">
                            <td th:text="${f.idformation}"></td>
                            <td th:text="${f.nomformation}"></td>
                            <td th:text="${f.duree}"></td>
                            <td th:text="${f.discipline}"></td>
                            <td th:text="${f.nombremodules}"></td>
                            <td>
                                <a th:href="@{editerFormation(id=${f.idformation})}">Modifier</a>
                            </td>
                              <td>
                                  <a onclick="return confirm('Vous confirmez la suppression de la formation?')"
                                   th:href="@{/delete(id=${f.idformation}, page=${currentPage}, motCle=${motCle})}">Supprimer</a>
                            </td>
                        </tr>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
                            <a th:href="@{/admin(page=${status.index}, motCle=${motCle})}"
                               th:text="${status.index}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 spacer col-md-offset-5">
        <label>Sinon ajouter une par ici: </label>
        <form th:action="@{/ajoutFormation}">
            <button type="submit" class="btn btn-primary">Ajouter formation</button>
        </form>
    </div>


</div>

</body>
</html>