<!DOCTYPE html>

<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>
<header>
    <div class="bg-black">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a th:href="@{/accueil}"> Accueil </a></li>
                <li><a th:href="@{/inscription}"> S'inscrire/Se connecter </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/apropos}"> A propos </a></li>
                <li><a th:href="@{/catalogue}">Catalogue des formations</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>

            <div id="logo" style="text-align: center;">
                <img src="../static/bebrighter.png" width="200" th:src="@{bebrighter.png}" alt="logo"/>
            </div>
        </div>
    </div>
</header>


</body>
</html>