<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>

<!--Navbar-->

<header>
    <div class="bg-black">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a th:href="@{/accueil}"> Accueil </a></li>
                <li><a th:href="@{/inscription}"> S'identifier/Se connecter </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/apropos}"> A propos </a></li>
                <li><a th:href="@{/catalogue}">Catalogue des formations</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>

            <div id="logo" style="text-align: center;">
                <img src="../static/bebrighter.png" width="200" th:src="@{bebrighter.png}" alt="logo"/>
            </div>
        </div>
    </div>
</header>

<div layout:fragment="content">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Consultation d'une formation</div>
            <div class="panel-body">
                <form th:action="@{/consulterFormation}" method="get">
                    <div>
                        <label>ID formation: </label>
                        <input type="text" name="idFormation"/>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </form>
                <div class="text-danger" th:if="${exception}" th:text="${exception.getMessage()}"></div>
            </div>
        </div>

        <div class="panel panel-primary" th:if="${formation}">
            <div class="panel-heading">Informations sur la formation</div>
            <div class="panel-body">
                <div>
                    <label>Code formation:</label>
                    <label th:text="${formation.get().getIdformation()}"></label>
                </div>
                <div>
                    <label>Nom de la formation:</label>
                    <label th:text="${formation.get().getNomformation()}"></label>
                </div>
                <div>
                    <label>Description de la formation:</label>
                    <label th:text="${formation.get().getDescription()}"></label>
                </div>
                <div>
                    <label>Discipline de la formation:</label>
                    <label th:text="${formation.get().getDiscipline()}"></label>
                </div>
                <div>
                    <label>Duree de la formation:</label>
                    <label th:text="${formation.get().getDuree()}"></label>
                </div>
                <div>
                    <label>Nombre des modules:</label>
                    <label th:text="${formation.get().getNombremodules()}"></label>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" th:if="${formation}">
            <div class="panel-heading"> Description des modules</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Code</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Duree</th>
                        <th>Chapitres</th>
                        <th>Type ressources</th>
                    </tr>
                    <tr th:each="m:${pageModule}">
                        <td th:text="${m.getId()}"></td>
                        <td th:text="${m.getNom()}"></td>
                        <td th:text="${m.getDescription()}"></td>
                        <td th:text="${m.getDuree()}"></td>
                        <td th:text="${m.getChapitres()}"></td>
                        <td th:text="${m.getTyperessource()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Toutes nos formations sont disponibles par ici:</div>
            <div class="panel-body">
                <form th:action="@{/catalogue}" method="get">
                    <label>Mot clé: </label>
                    <input type="text" name="motCle" th:value="${motCle}">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Code formation</th>
                        <th>Nom</th>
                    </tr>
                    <tr th:each="f:${listformations}">
                        <td th:text="${f.idformation}"></td>
                        <td th:text="${f.nomformation}"></td>
                        <td>
                            <a onclick="return confirm('Vous confirmer la suppression?')" th:href="@{/delete(id=${f.idformation}, page=${currentPage}, motCle=${motCle})}">Delete</a>
                        </td>
                    </tr>
                </table>
                <ul class="nav nav-pills">
                    <li th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
                        <a th:href="@{/catalogue(page=${status.index}, motCle=${motCle})}" th:text="${status.index}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="container">
            <ul class="nav nav-pills">
                <li th:each="p:${pages}">
                    <a th:text="${p}" th:href="@{consulterFormation(page=${p})}"></a>
                </li>
            </ul>
        </div>-->
</div>

<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div class="logo">
                            <a class="brand"><img src="../static/bebrighter.png" th:src="@{bebrighter.png}" alt="" /></a>
                        </div>
                        <p>
                            &copy; O.R.S - Tous les droits sont réservés.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>