<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="mySecondStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>
<header>
    <div class="bg-black">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a th:href="@{/accueil}"> Accueil </a></li>
                <li><a th:href="@{/inscription}"> S'identifier/Se connecter </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/apropos}"> A propos </a></li>
                <li><a th:href="@{/catalogue}">Catalogue des formations</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>

            <div id="logo" style="text-align: center;">
                <img src="../static/bebrighter.png" width="200" th:src="@{bebrighter.png}" alt="logo"/>
            </div>
        </div>
    </div>
</header>

<!--<div class="col-md-6">-->
<!---->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="heading">
                <h3><span>Contactez-nous</span></h3>
            </div>
            <div class="sub-heading">
                <p>
                    On vous offre la possibilité de nous contacter pour toute information supplémentaire.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="span6">
        <h4><strong>Formulaire de contact</strong></h4>
        <p>
            Tu veux travailler avec nous ou tu veux juste dire bonjour? N'hésitez pas à nous contacter!
        </p>
        <form th:action="@{/contacterNous}" method="post">
            <div id="sendmessage">Votre message a été envoyé. On vous remercie!</div>
            <div id="errormessage"></div>

            <ul class="contact-list">
                <li class="form-group">
                    <label>Nom et prénom <span>*</span></label>
                    <input type="text" name="nom" class="form_input" id="nom"
                           placeholder="Votre nom et prénom"
                           data-rule="minlen:4" data-msg="S'il vous plaît entrer au moins 4 caractères"/>
                    <div class="validation"></div>
                <li class="form-group">
                    <label>Email <span>*</span></label>
                    <input type="email" class="form_input" name="email" id="email" placeholder="Votre Email"
                           data-rule="email" data-msg="S'il vous plaît entrer une adresse email valide"/>
                    <div class="validation"></div>
                </li>
                <li class="form-group">
                    <label>Votre message <span>*</span></label>
                    <textarea class="form_textarea" name="message" rows="12" data-rule="required"
                              data-msg="S'il vous plaît écrivez quelque chose pour nous"
                              placeholder="Message"></textarea>
                    <div class="validation"></div>
                </li>
                <li class="last">
                    <button class="btn btn-primary" type="submit" id="send">Envoyer un message</button>
                </li>
            </ul>
        </form>

    </div>
</div>
<div class="col-md-6">
    <div class="span6">
        <h4><strong>Notre bureau</strong></h4>
        <p>
            N'hésitez pas à demander si vous avez des questions concernant nos services, nous aimerions avoir vos
            retours.
        </p>
        <div class="dotted_line">
        </div>
        <p>
            <strong>Be Brighter</strong>
        </p>
        <p>
            2 Rue Abou Raihane Bayrouni 2080 l’Ariana Tunisia
        </p>
        <p>
            <span></i><strong>Tél:</strong> (216) 71 706 164</span>
        </p>
        <p>
            <span></i><strong>Fax:</strong>(216) 71 706 698</span>
        </p>
        <p>
            <span></i><strong>Email:</strong>be@bebrighter.tn</span>
        </p>
        <div class="dotted_line">
        </div>
        <h4><i class="icon-group"></i><strong>Connectez-vous à travers nos réseaux sociaux</strong></h4>
        <div class="social-links">
            <ul class="social-links">
                <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
                <li><a href="#" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a></li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>