<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="heading">
                    <h3><span>S'inscrire en tant qu'apprenant</span></h3>
                </div>
                <div class="sub-heading">
                    <p>
                        Vous êtes déjà inscrit? <a th:href="@{/identification}">Se connecter</a>
                    </p>

                </div>
                <div class="sub-heading">
                    <p>
                        Vous êtes un formateur? <a th:href="@{/inscription}">S'incrire</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 spacer col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">S'inscrire dans Be Brighter</div>
            <div class="panel-body">
                <form th:action="@{/saveApp}" method="post" th:object="${apprenant}">
                    <div class="form-group">
                        <label class="control-label">Nom et prénom:<span>*</span></label>
                        <input type="text" th:field="*{nom}" class="form-control" required="required"/>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email:<span>*</span></label>
                        <input type="text" th:field="*{email}" class="form-control" required="required"/>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Identifiant:<span>*</span></label>
                        <input type="text" th:field="*{identifiant}" class="form-control" required="required"/>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mot de passe:<span>*</span></label>
                        <input type="password" th:field="*{motdepasse}" class="form-control" required="required"/>
                        <span></span>
                    </div>
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>