<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="mySecondStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>
<header>
    <div class="bg-black">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a th:href="@{/accueil}"> Accueil </a></li>
                <li><a th:href="@{/inscription}"> S'identifier/Se connecter </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/apropos}"> A propos </a></li>
                <li><a th:href="@{/catalogue}">Catalogue des formations</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>

            <div id="logo" style="text-align: center;">
                <img src="../static/bebrighter.png" width="200" th:src="@{bebrighter.png}" alt="logo"/>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="heading">
                <h3><span>S'inscrire</span></h3>
            </div>
            <div class="sub-heading">
                <p>
                    Vous êtes déjà inscrit? <a th:href="@{/identification}">Se connecter</a>
                </p>

            </div>
        </div>
    </div>
</div>
<div class="col-md-6 spacer col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">S'inscrire dans Be Brighter</div>
        <div class="panel-body">
            <form th:action="@{/saveProfile}" method="post" th:object="${formateur}">
                <div class="form-group">
                    <label>Vous êtes :</label>
                    <div>
                        <input type="radio" name="choix" value="ajoutFormateur" checked="checked"
                               onchange="document.getElementById('anciennete').style.display='block'
                                        document.getElementById('domaine').style.display='block'"/>
                        <label>Formateur</label>
                        <input type="radio" name="choix" value="ajoutApprenant"
                               onchange="document.getElementById('anciennete').style.display='none'
                                    document.getElementById('domaine').style.display='none'"/>
                        <label>Apprenant</label>
                    </div>
                    <label class="control-label">Nom et prénom:</label>
                    <input type="text" th:field="*{nom}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Email:</label>
                    <input type="text" th:field="*{email}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Identifiant:</label>
                    <input type="text" th:field="*{identifiant}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mot de passe:</label>
                    <input type="password" th:field="*{motdepasse}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group" id="anciennete">
                    <label class="control-label">Anciennete:</label>
                    <input type="password" th:field="*{anciennete}" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group" id="domaine">
                    <label class="control-label">Domaine d'expertise:</label>
                    <input type="password" th:field="*{domaineExpertise}" class="form-control"/>
                    <span></span>
                </div>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div class="logo">
                            <a class="brand"><img src="../static/bebrighter.png" th:src="@{bebrighter.png}" alt="" /></a>
                        </div>
                        <p>
                            &copy; O.R.S - Tous les droits sont réservés.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>