<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="myStyle.css">
    <link rel="stylesheet" href="style.css">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
    <meta charset="UTF-8"/>
    <title>Be Brighter</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="heading">
                    <h3><span>Bienvenue dans notre équipe!</span></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="slogan" style="text-align: center;">
        <div class="icon" style="text-align: center;">
            <img src="../static/icon.png" width="200" th:src="@{icon.png}" alt="icon"/>
        </div>
    </div>

    <div class="sub-heading">
        <p>
            Nous sommes une équipe formée de 3 formateurs expérimentés du domaine.
        </p>
    </div>

    <section id="about" class="section">

    </section>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>